chapter_1/HelloCS/.vscode/launch.json
chapter_1/HelloCS/.vscode/tasks.json
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.deps.json
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.dll
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.exe
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.pdb
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.runtimeconfig.dev.json
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.runtimeconfig.json
chapter_1/HelloCS/obj/HelloCS.csproj.nuget.dgspec.json
chapter_1/HelloCS/obj/HelloCS.csproj.nuget.g.props
chapter_1/HelloCS/obj/HelloCS.csproj.nuget.g.targets
chapter_1/HelloCS/obj/project.assets.json
chapter_1/HelloCS/obj/project.nuget.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.AssemblyInfo.cs
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.AssemblyInfoInputs.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.assets.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.csproj.CoreCompileInputs.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.csproj.FileListAbsolute.txt
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.csprojAssemblyReference.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.dll
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.exe
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.genruntimeconfig.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.pdb
chapter_2/.vscode/launch.json
chapter_2/.vscode/tasks.json
chapter_2/Basics/bin/Debug/netcoreapp3.1/Basics.deps.json
chapter_2/Basics/bin/Debug/netcoreapp3.1/Basics.dll
chapter_2/Basics/bin/Debug/netcoreapp3.1/Basics.exe
chapter_2/Basics/bin/Debug/netcoreapp3.1/Basics.pdb
chapter_2/Basics/bin/Debug/netcoreapp3.1/Basics.runtimeconfig.dev.json
chapter_2/Basics/bin/Debug/netcoreapp3.1/Basics.runtimeconfig.json
chapter_2/Basics/obj/Basics.csproj.nuget.dgspec.json
chapter_2/Basics/obj/Basics.csproj.nuget.g.props
chapter_2/Basics/obj/Basics.csproj.nuget.g.targets
chapter_2/Basics/obj/project.assets.json
chapter_2/Basics/obj/project.nuget.cache
chapter_2/Basics/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.AssemblyInfo.cs
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.AssemblyInfoInputs.cache
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.assets.cache
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.csproj.CoreCompileInputs.cache
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.csproj.FileListAbsolute.txt
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.csprojAssemblyReference.cache
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.dll
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.exe
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.genruntimeconfig.cache
chapter_2/Basics/obj/Debug/netcoreapp3.1/Basics.pdb
chapter_2/Numbers/.vscode/launch.json
chapter_2/Numbers/.vscode/tasks.json
chapter_2/Numbers/obj/Numbers.csproj.nuget.dgspec.json
chapter_2/Numbers/obj/Numbers.csproj.nuget.g.props
chapter_2/Numbers/obj/Numbers.csproj.nuget.g.targets
chapter_2/Numbers/obj/project.assets.json
chapter_2/Numbers/obj/project.nuget.cache
chapter_2/Numbers/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.AssemblyInfo.cs
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.AssemblyInfoInputs.cache
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.assets.cache
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.csprojAssemblyReference.cache
chapter_2/Numbers/bin/Debug/netcoreapp3.1/Numbers.deps.json
chapter_2/Numbers/bin/Debug/netcoreapp3.1/Numbers.dll
chapter_2/Numbers/bin/Debug/netcoreapp3.1/Numbers.exe
chapter_2/Numbers/bin/Debug/netcoreapp3.1/Numbers.pdb
chapter_2/Numbers/bin/Debug/netcoreapp3.1/Numbers.runtimeconfig.dev.json
chapter_2/Numbers/bin/Debug/netcoreapp3.1/Numbers.runtimeconfig.json
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.csproj.CoreCompileInputs.cache
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.csproj.FileListAbsolute.txt
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.dll
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.exe
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.genruntimeconfig.cache
chapter_2/Numbers/obj/Debug/netcoreapp3.1/Numbers.pdb
chapter_2/Variables/.vscode/launch.json
chapter_2/Variables/.vscode/tasks.json
chapter_2/Variables/obj/project.assets.json
chapter_2/Variables/obj/project.nuget.cache
chapter_2/Variables/obj/Variables.csproj.nuget.dgspec.json
chapter_2/Variables/obj/Variables.csproj.nuget.g.props
chapter_2/Variables/obj/Variables.csproj.nuget.g.targets
chapter_2/Variables/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.AssemblyInfo.cs
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.AssemblyInfoInputs.cache
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.assets.cache
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.csprojAssemblyReference.cache
chapter_2/Variables/bin/Debug/netcoreapp3.1/Variables.deps.json
chapter_2/Variables/bin/Debug/netcoreapp3.1/Variables.dll
chapter_2/Variables/bin/Debug/netcoreapp3.1/Variables.exe
chapter_2/Variables/bin/Debug/netcoreapp3.1/Variables.pdb
chapter_2/Variables/bin/Debug/netcoreapp3.1/Variables.runtimeconfig.dev.json
chapter_2/Variables/bin/Debug/netcoreapp3.1/Variables.runtimeconfig.json
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.csproj.CoreCompileInputs.cache
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.csproj.FileListAbsolute.txt
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.dll
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.exe
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.genruntimeconfig.cache
chapter_2/Variables/obj/Debug/netcoreapp3.1/Variables.pdb
