chapter_1/HelloCS/.vscode/launch.json
chapter_1/HelloCS/.vscode/tasks.json
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.deps.json
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.dll
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.exe
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.pdb
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.runtimeconfig.dev.json
chapter_1/HelloCS/bin/Debug/netcoreapp3.1/HelloCS.runtimeconfig.json
chapter_1/HelloCS/obj/HelloCS.csproj.nuget.dgspec.json
chapter_1/HelloCS/obj/HelloCS.csproj.nuget.g.props
chapter_1/HelloCS/obj/HelloCS.csproj.nuget.g.targets
chapter_1/HelloCS/obj/project.assets.json
chapter_1/HelloCS/obj/project.nuget.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.AssemblyInfo.cs
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.AssemblyInfoInputs.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.assets.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.csproj.CoreCompileInputs.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.csproj.FileListAbsolute.txt
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.csprojAssemblyReference.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.dll
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.exe
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.genruntimeconfig.cache
chapter_1/HelloCS/obj/Debug/netcoreapp3.1/HelloCS.pdb
